*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store

/captures
.externalNativeBuild
/.idea
/manager/signing.properties

/signing.properties
/.kotlin
manager/src/main/java/moe/shizuku/manager/home/HomeActivity.kt
manager/src/main/java/moe/shizuku/manager/home/HomeActivity.kt
*.kt
